<section class="users-section">
  <ul class="users-list">
    <%= render @users %>
  </ul>
</section>

<hr>
<section class="friend-requests-section">
  <ul class="users-list">
    <h2>Received Requests</h2>
    <% @friend_requests.each do |user| %>
    <li class="my-4">
      <% if !current_user.friend?(user) %>
      <%= user.name %> want to be your friend.
      <%= link_to 'Accept', user_friendship_path(@friend_requests, user), method: :put, style: "color: #008000" %>
      <%= link_to 'Reject', user_friendship_path(@friend_requests, user), method: :delete, style: "color: #FF0000" %>
      <% end %>
    </li>
    <% end %>
  </ul>
  <ul class="users-list">
    <h2>Sent Requests</h2>
    <% @pending_requests.each do |user| %>
    <li class="my-4">
      <% if !current_user.friend?(user) %>
      Waiting friend confirmation from <%= user.name %>
      <% end %>
    </li>
    <% end %>
  </ul>
</section>
